{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Dropbox Project Automation{% endblock %}

{% block page_content %}

    <figure>
        <img src="https://dl.dropboxusercontent.com/u/354544978/MKTG-DEMO/static/MKTGLogo.png" height="70" style="padding-right: 20px;"/>
        <img src="https://dl.dropboxusercontent.com/u/354544978/MKTG-DEMO/static/dropbox.png" height="70" />
    </figure>

    <!-- Header -->
    <header id="top" class="header">
        
        <div class="text-vertical-center">
            <h1>{{ project_name}} created</h1>
            <h5>The {{ project_name }} was created for your team. Currently you are the owner of the shared folder. X members have read/write access. Y members have read only access. If you need to modify permissions you can simply change the Dropbox group membership.</h3>
            <br>
            <a href="/" class="btn btn-dark btn-lg">Create another Project</a>
        </div>
    </header>

{% endblock %}