{% extends 'base.html' %}

{% block page_content %}

    <figure>
        <img src="https://dl.dropboxusercontent.com/u/354544978/MKTG-DEMO/static/MKTGLogo.png" height="70" style="padding-right: 20px;"/>
        <img src="https://dl.dropboxusercontent.com/u/354544978/MKTG-DEMO/static/dropbox.png" height="70" />
    </figure>

    <!-- Header -->
    <header id="top" class="header">
        
        <div class="text-vertical-center">
            <h1>Project Initiation Portal</h1>
            <h3>Automatically create all the folders required for your project in Dropbox and share them with your team.</h3>
            <br>
            <a href="/auth" class="btn btn-dark btn-lg">Get Started</a>
        </div>
    </header>

{% endblock %}



    



